<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/responsiveslides.min.js"></script>
</head>
<body>
<!--滚动广告图片-->
<div class="banner-mat">
    <div class="container">
        <div class="banner" >
            <!-- Slideshow 4 -->
            <div class="slider" id="adv_list">
                <ul class="rslides" id="slider1" >
                    <li v-for = "adv in advList"><img :src="adv.adv"  @click="goodsDetail(adv)" alt=""  style="cursor:pointer"/>
                    </li>
                </ul>
            </div>
            <div class="banner-bottom" >
                <div class="banner-matter">
                    <!--<p>只要998全部带回家</p>-->
                    <!--<a href="single.html" class="hvr-shutter-in-vertical " @click="goodsDetail(item)" >购买</a>-->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //slider-->
    </div>
</div>
<!---->
<div class="container">
    <div class="content">
        <div class="content-top">
            <h3 class="future">精选列表</h3>
            <div class="content-top-in">
                <div id="featured_list">
                    <div class="col-md-3 md-col" v-for="item in itemList">
                        <div class="col-md">
                            <a class="goods" @click="goodsDetail(item)"><img :src="item.picture"alt=""/></a>
                            <div class="top-content">
                                <h5><a class="goods" @click="goodsDetail(item)">
                                    {{item.name}}
                                </a></h5>
                                <div class="white">
                                    <a class="hvr-shutter-in-vertical hvr-shutter-in-vertical2 " v-on:click="enjoyGoods(item)">喜欢({{item.enjoy}})</a>
                                    <p class="dollar"><span class="in-dollar">{{item.price}}￥</span></p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--类型滚动条-->
        <div class="content-middle">
            <h3 class="future">BRANDS</h3>
            <div class="content-middle-in">
                <ul id="flexiselDemo1">
                    <li><img src="images/ap.png" @click="goodsDetail(item)"/></li>
                    <li><img src="images/ap1.png" @click="goodsDetail(item)"/></li>
                    <li><img src="images/ap2.png" @click="goodsDetail(item)"/></li>
                    <li><img src="images/ap3.png" @click="goodsDetail(item)"/></li>
                </ul>
            </div>
        </div>
        <!---->
        <div class="content-bottom">
            <h3 class="future">最新好货</h3>
            <div class="content-bottom-in">
                <div id="newest_list">
                    <div class="col-md-3 md-col" v-for="item in newestList">
                        <div class="col-md">
                            <a @click="goodsDetail(item)"><img :src="item.picture"alt=""/></a>
                            <div class="top-content">
                                <h5><a class="goods" @click="goodsDetail(item)">
                                    {{item.name}}
                                </a></h5>
                                <div class="white">
                                    <a class="hvr-shutter-in-vertical hvr-shutter-in-vertical2 " v-on:click="enjoyGoods(item)">喜欢({{item.enjoy}})</a>
                                    <p class="dollar"><span class="in-dollar">{{item.price}}￥</span></p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/home.js"></script>
</html>